@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
  max-width: 1080px;
  flex: 1;
  margin: auto;
}
.voting__container {
  font-family: Nunito, sans-serif;
  display: flex;
  flex: 1;
  margin: 10px 50px;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  margin-top: 50px;
  & > h1 {
    text-align: center;
  }
}

.voting__candidates {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.voting__results {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: space-around;
  margin-top: 20px;
  &--values {
    margin-top: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    flex-basis: 60%;
    margin-left: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    & p {
      text-align: center;
    }
  }
}
