.voting__total-values {
  height: 50px;
  background-color: #393e46;
  color: #eeeeee;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.15rem;
  border-radius: 10px 10px 0 0;
}
