@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800;900&family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eff0f6;
  background-image: url('background.svg');
  background-size: cover;
}
